

{% extends "base.html" %}

{% block content %}
	<section class="login_box_area section-margin">
		<div class="container">

  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>

  	</div>
	</section>
{% endblock content %}












{% comment %} {% extends 'base.html' %}
 {% load static %}
 {% block content %}

<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Reset Password</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>

<!--================reset Box Area =================-->
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Reset Password</h3>
						<form class="row login_form" action="#/" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="name" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="name" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
                                    <div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Reset</button>
							</div>
								</div>
							</div>
						</form>

					</div>
				</div> {% endcomment %}





{% comment %} {% endblock content %} {% endcomment %}